<%# ----------Banner--------- %>

<div class="banner"
  style="background-image: linear-gradient(-225deg, rgba(0,121,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/dfdp6jywx/image/upload/v1632344683/Mr%20Cocktail/bar-furniture_ajd5qi.jpg')">
  <div class="banner-content">
    <h1>Buff's cocktails</h1>
    <p>Sweetest Bevarages on earth</p>
    <%= link_to "Create my new cocktail !", new_cocktail_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<%# -------------Cocktails------------ %>

<h2 class="cocktail-index-title">Our customer's creation</h2>
<div class="cocktail-container">
  <% @cocktails.each do |cocktail| %>
    <% if cocktail.photo.attached? %>
      <div class="card-wpic"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 200, width: 300, crop: :fill %>')">
        <h2 class="cocktail-title"><%= link_to "#{cocktail.name}", cocktail_path(cocktail), class: 'card-link' %></h2>
      <% else %>
        <div class="card">
          <h2 class="cocktail-title"><%= link_to "#{cocktail.name}", cocktail_path(cocktail), class: 'card-link'  %></h2>
      <% end %>

      <%# <%= link_to cocktail_path(cocktail), method: :delete, %>
        <%# data: { confirm: "Are you sure?"}, class: "cocktail-delete" do %>
      <%# <i class="fas fa-trash"></i> %>
    </div>
    <%# <% end %> %>
    <% end %>
  </div>